body {
    font-family: "Inter", sans-serif;
    background-color: #f8f8f2;
}

.btn-grey {
  background-color: #d9d9d9;
  color: #000000;
  border: 0.5px solid #000000;
}

.btn-darker-grey {
  background-color: #999494;
  color: #ffffff;
  border: none;
}

.btn-grey,
.btn-darker-grey {
  width: 20%;
  font-size: 28px;
}

.feedback-heading {
  font-size: 32px;
  font-weight: 900;
}

.feedback-second-heading {
  color: #000000;
  font-size: 20px;
  opacity: 70%;
}

.feedback-heading,
.feedback-second-heading {
  text-align: center;
}

hr {
  background-color: #000000;
  color: #000000;
  border: none;
  height: 2px;
  opacity: 100%;
}

.optional {
  font-size: 16px;
  color: #000000;
  opacity: 50%;
}

#txtAreaFeedback {
  width: 100%;
  height: 50%;
  background-color: #c8c2c2;
}

.feedback-text {
  font-size: 15px;
  color: #000000;
  opacity: 50%;
}

.btn-send-feedback {
  margin-left: 35%;
  width: 30%;
  background-color: #999494;
  font-size: 15px;
  color: #ffffff;
  border: none;
  height: 50px;
}

.btn-grey:active, .btn-darker-grey:active, .btn-send-feedback:active {
  border: 3px solid black;
}
